/*
Theme Name: MBIOFARMERS Entreprise
Theme URI: https://mbiofarmers.com
Author: MBIOFARMERS
Author URI: https://mbiofarmers.com
Description: mbiofarmers official WordPress of mbiofarmers.com. A theme based on Bootship, a startup theme for Advanced user who want to build professional WordPress theme based on Bootstrap
Version: 1.1
Tags: blue, black, white, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: mbiofarmers
*/


/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Media Queries
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
}

body {
}

a {
	text-decoration: none;
}

a:visited {
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

address {
	font-style: italic;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

p {
}

code,
kbd,
pre,
samp {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em,
blockquote i {
	font-style: normal;
	font-weight: 300;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 20px;
}

menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul {
	list-style-type: square;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
  max-width: 100%;
  height: auto;
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	margin: 20px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del {
	color: #333;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background: url(images/dotted-line.png) repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}


/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Images */
img {
  max-width: 100%;
}

img {
  height: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
	float: right;
}

div.wp-caption.alignright .wp-caption-text {
	padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
	list-style-position: inside;
}

/* Body Typography */
p {
	margin: 0 0 10px;
	line-height: 1.6;
}

blockquote {
	text-align: center;
	background: #fff9f5;
	padding: 20px 40px;
	margin: 0;
	position: relative;
}

blockquote::before, blockquote::after {
	position: absolute;
	content: "\f114";
	font-family: themegrill-icons;
	display: block;
	top: 10px;
	left: 20px;
}

blockquote::after {
	content: "\f115";
	top: auto;
	left: auto;
	right: 20px;
	bottom: 10px;
}

blockquote cite {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	margin-top: 20px;
}

blockquote cite::before {
	content: "";
	background-color: #363b40;
	width: 10px;
	height: 1px;
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
}

code {
	background-color: #f1f3f5;
	padding: 0.125em 0.25em;
}

pre {
	background-color: #f8f9fa;
	padding: 20px;
}

.entry-content {
	line-height: 1.8;
}

.entry-content p {
	line-height: inherit;
}

/* Input */

textarea {
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #16181a;
	border: 1px solid #dee2e6;
	padding: 15px;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #51585f;
	outline: none;
	border-color: #343a40;
}

select {
	border: 1px solid #dee2e6;
}

/* Button */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #007bff;
	border-color: #dbdbdb;
	border: none;
	border-width: 1px;
	color: #ffffff;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.5em - 1px);
	padding: 0.7rem 1rem;
	border-radius: 4px;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #007bff;
	color: #fff;
}

.button:hover::after,
button:hover::after,
input[type="button"]:hover::after,
input[type="reset"]:hover::after,
input[type="submit"]:hover::after {
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}

.button-arrow::after {
	content: "\f103";
	font-family: themegrill-icons;
	display: inline-block;
	font-size: 8px;
	margin-left: 10px;
	-webkit-transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wp-block-button.is-style-fill .wp-block-button__link {
	text-decoration: none;
	color: #ffffff;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: #000000;
	text-decoration: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area .comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comments-area .comment-list .comment-meta {
	position: relative;
	margin-bottom: 10px;
	min-height: 60px;
}

.comments-area .comment-list .comment-meta .comment-author img.avatar {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
}

.comments-area .comment-list .comment-meta .comment-author .says {
	display: none;
}

.comments-area .comment-list .comment-meta .fn,
.comments-area .comment-list .comment-meta .comment-metadata,
.comments-area .comment-list .comment-meta .comment-awaiting-moderation {
	margin-left: 80px;
}

.comments-area .comment-list .comment-meta .fn {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.comments-area .comment-list .comment-meta .comment-metadata {
	margin-bottom: 3px;
}

.comments-area .comment-list .comment-meta .comment-metadata a {
	color: #868e96;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 400;
}

.comments-area .comment-list .comment-meta .comment-awaiting-moderation {
	color: #868e96;
	font-size: 12px;
	font-weight: 400;
}

.comments-area .comment-list .comment-body {
	border-bottom: 1px solid #f1f3f5;
	padding: 40px 0;
}

.comments-area .comment-list .comment-body .reply {
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
}

.comments-area .comment-list .comment-body .reply a::before {
	content: "\f117";
	font-family: themegrill-icons;
	display: inline-block;
	font-size: 8px;
	margin-right: 10px;
	vertical-align: top;
	margin-top: 1px;
}

.comments-area .comment-list .comment-body .comment-content {
	margin-bottom: 20px;
}

.comments-area .comment-list .children {
	list-style-type: none;
}

.comments-area .comment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.comments-area .comment-form .comment-notes {
	margin-bottom: 30px;
}

.comments-area .comment-form label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 500;
	display: block;
	margin-bottom: 8px;
}

.comments-area .comment-form p {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.comments-area .comment-form p input[type="text"],
.comments-area .comment-form p input[type="email"],
.comments-area .comment-form p input[type="url"] {
	width: 100%;
}

.comments-area .comment-form .comment-form-author,
.comments-area .comment-form .comment-form-email {
	-ms-flex-preferred-size: 47%;
	flex-basis: 47%;
}

.comments-area .comment-form .comment-form-author input,
.comments-area .comment-form .comment-form-email input {
	width: 100%;
}

.comments-area .comment-form .form-submit {
	text-align: right;
	margin-top: 30px;
}

.comments-area .comment-form .form-submit button.submit {
	padding: 20px 25px;
	font-size: 14px;
}

.comments-title,
.comment-reply-title {
	font-size: 1.5rem;
	margin-bottom: 0;
}

/* Auther Box */
.tg-author-box {
	margin-top: 100px;
	padding: 40px 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-top: 2px solid #343a40;
	border-bottom: 2px solid #343a40;
}

.tg-author-box .tg-author__avatar {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
}

.tg-author-box .tg-author__avatar img {
	border-radius: 100%;
}

.tg-author-box .tg-author-info {
	padding-left: 40px;
}

.tg-author-box .tg-author__name {
	margin: 0 0 20px;
}

.tg-author-box .tg-author__bio {
	margin-bottom: 15px;
}

.tg-author-box .tg-author-meta {
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tg-author-box .tg-author__website {
	padding-right: 10px;
}

.tg-author-box .tg-author__website a {
	color: #007bff;
}

.tg-author-box .tg-author__website a:hover {
	color: #363b40;
}

/* Search */
.search-form label {
	position: relative;
}

.search-form label::before {
	position: absolute;
	top: calc(50% - 7px);
	right: 10px;
	display: block;
	content: "\f002";
	font-family: "Font Awesome 5 free";
	font-weight: 900;
	font-size: 14px;
	color: #adb5bd;
}

.search-form .search-field {
	-webkit-appearance: textarea;
	font-size: 14px;
	color: #adb5bd;
}

.search-form .search-field::-webkit-input-placeholder {
	color: inherit;
	font-size: inherit;
}

.search-form .search-field:-ms-input-placeholder {
	color: inherit;
	font-size: inherit;
}

.search-form .search-field::-ms-input-placeholder {
	color: inherit;
	font-size: inherit;
}

.search-form .search-field::placeholder {
	color: inherit;
	font-size: inherit;
}

/* Widget */
.widget {
	margin: 0 0 30px;
	/* Make sure select elements fit in widgets. */
}

.widget ul {
	margin: 0 0 0 15px;
	line-height: 1.6;
}

.widget ul li {
	margin-bottom: 10px;
	font-size: 14px;
}

.widget ul li a {
	display: block;
	text-decoration: none;
}

.widget ul li a:hover {
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}

.widget ul li:last-child {
	margin-bottom: 0;
}

.widget select {
	max-width: 100%;
}

.widget .widget-title {
	font-size: 14px;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
	color: #16181a;
}

.widget .widget-title::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 1px;
	background: #007bff;
	left: calc(100% + 10px);
	top: calc(50% - 1px);
}

/* Search Widget */
.widget_search .search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.widget_search label {
	width: 100%;
}

.widget_search .search-field,
.widget_search .search-submit {
	padding: 10px;
}

.widget_search .search-submit {
	display: block;
	font-size: 12px;
}

.widget_search .search-field {
	width: 100%;
}

.tg_widget_recent_posts ul,
.tg-post-ribbon ul {
	margin: 0;
}

.tg_widget_recent_posts ul li,
.tg-post-ribbon ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tg_widget_recent_posts ul li:hover,
.tg-post-ribbon ul li:hover {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.tg_widget_recent_posts ul li a:hover,
.tg-post-ribbon ul li a:hover {
	-webkit-transform: none;
	transform: none;
}

.tg_widget_recent_posts ul li .tg-post-thumbnail,
.tg-post-ribbon ul li .tg-post-thumbnail {
	padding-right: 20px;
}

.tg_widget_recent_posts ul li .tg-post-thumbnail img,
.tg-post-ribbon ul li .tg-post-thumbnail img {
	max-width: 70px;
}

.tg_widget_recent_posts ul li .tg-post-info a,
.tg-post-ribbon ul li .tg-post-info a {
	font-size: 14px;
	font-weight: 700;
}

.tg_widget_recent_posts ul li .tg-post-info .post-date,
.tg-post-ribbon ul li .tg-post-info .post-date {
	margin-top: 5px;
	display: inline-block;
	font-size: 12px;
	color: #868e96;
}

.tg-post-ribbon {
	background-color: #f7f7f7;
	padding: 40px 0 30px;
}

.tg-post-ribbon ul {
	margin: 0 -10px;
}

.tg-post-ribbon ul li {
	padding-right: 10px;
	padding-left: 10px;
	width: 25%;
	margin-bottom: 10px;
}

.tg-post-ribbon ul li .tg-post-info .tg-post-title {
	margin-bottom: 10px;
	display: block;
}

.widget_calendar caption {
	margin-bottom: 1.5em;
}

.widget_calendar table th,
.widget_calendar table td {
	padding: 10px;
}

.widget_recent_comments ul li {
	color: #868e96;
}

.widget_media_gallery .gallery-item {
	margin: 0;
}

/* Table */
table {
	margin: 0 0 1.5em;
	width: 100%;
}

table th,
table td,
table .wp-block-table th,
table .wp-block-table td {
	text-align: left;
	border: 1px solid #e9ecef;
	padding: 1em;
}

.entry-content table a {
	text-decoration: none;
	color: #363b40;
}

.entry-content table a:hover {
	color: #01b6f4;
}

.archive .archive-header {
	background-color: #dee2e6;
	padding: 40px 0;
	position: relative;
}

.archive .archive-header .page-title {
	margin: 0;
	font-size: 2.25rem;
}

.archive .archive-header .archive-description {
	margin-top: 10px;
	font-size: 14px;
	color: #f8f9fa;
}

.archive .archive-header .archive-description p {
	margin-bottom: 0;
}

/* Error Page */
.error404 #primary {
	width: 100%;
}

.error404 .error-img {
	margin: 0 auto 50px;
	max-width: 500px;
}

.error404 .error-404 {
	text-align: center;
	padding: 5rem 1rem;
}

.error404 .page-title {
	font-size: 2.25rem;
	margin: 0 0 20px;
}

.error404 .page-content p {
	color: #adb5bd;
	font-size: 1.125rem;
	font-weight: 500;
}

.error404 .page-content a {
	text-decoration: none;
}

.error404 .error-404__search .search-form {
	margin-top: 30px;
	position: relative;
	max-width: 481px;
	margin: 0 auto;
}

.error404 .error-404__search .search-form label {
	display: block;
}

.error404 .error-404__search .search-form label input {
	width: 100%;
	padding-right: 6rem;
}

.error404 .error-404__search .search-form .search-submit {
	top: 0;
	position: absolute;
	height: 100%;
	right: 0;
}

/* Posts and Pages */
img {
	margin-bottom: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
}

.hentry {
	margin-bottom: 80px;
	line-height: 1.6;
}

.entry-thumbnail {
	position: relative;
	display: inline-block;
	margin-bottom: 34px;
	background-color: #000;
}

.entry-thumbnail img {
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-o-object-fit: cover;
	object-fit: cover;
	display: block;
	width: 100%;
}

.entry-thumbnail .post-thumbnail__letter {
	position: absolute;
	visibility: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	font-size: 7.5rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transform: translateY(0.625rem);
	transform: translateY(0.625rem);
	-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.entry-thumbnail:hover img {
	opacity: 0.6;
}

.entry-thumbnail:hover .post-thumbnail__letter {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.cat-links .cat-seperator {
	margin: 0 5px;
}

.tg-top-cat .cat-links {
	font-size: 12px;
}

.tg-top-cat .cat-links a {
	text-transform: uppercase;
	display: inline-block;
	color: #3298dc;
}

.tg-top-cat .cat-links a:hover {
	color: #363b40;
}

.entry-content {
	margin-bottom: 18px;
}

.entry-title {
	margin: 0 0 10px;
	font-size: 1.313rem;
}

.entry-meta {
	font-size: 12px;
	margin-bottom: 12px;
}

.entry-meta .byline,
.entry-meta .posted-on,
.entry-meta .cat-links {
	letter-spacing: 1px;
	cursor: pointer;
}

.entry-meta a {
	color: #3298dc;
}

.entry-meta a:hover {
	color: #363b40;
}

.entry-meta .posted-on {
	position: relative;
	padding-left: 3.75rem;
}

.entry-meta .posted-on::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 1px;
	background-color: #3298dc;
	left: 10px;
	top: calc(50% - 1px);
}

.entry-footer {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.entry-footer .cat-links,
.entry-footer .tags-links,
.entry-footer .edit-link {
	display: block;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	margin-bottom: 1.25rem;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	display: inline-block;
	margin: 0 5px 5px;
}

.entry-footer .cat-links a:first-child,
.entry-footer .tags-links a:first-child {
	margin-left: 1.25rem;
}

.entry-footer .cat-links a {
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 15px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-weight: 400;
	background-color: #3298dc;
	color: #fff;
}

.entry-footer .cat-links a:hover {
	background-color: #363b40;
}

.tg-readmore-link {
	position: relative;
	padding-left: 40px;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
}

.tg-readmore-link::before {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	top: calc(50% - 1px);
	width: 30px;
	height: 1px;
	background-color: #212529;
	-webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.tg-readmore-link:hover {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.tg-readmore-link:hover::before {
	background-color: #3298dc;
}

/* Single Page */
.single .hentry .entry-thumbnail {
	margin-bottom: 1.25rem;
	background-color: transparent;
}

.single .hentry .entry-thumbnail img {
	margin-bottom: 0;
}

.single .hentry .tg-top-cat {
	margin-bottom: 10px;
}

.single .hentry .entry-title {
	font-size: 2.5rem;
	font-weight: 700;
}

.single .hentry .entry-meta {
	margin-bottom: 40px;
}

.single .hentry .entry-meta a {
	color: #363b40;
}

.single .hentry .entry-meta a:hover {
	color: #3298dc;
}

.single .hentry .entry-meta .posted-on::before {
	background-color: #363b40;
}

.single .hentry .entry-content {
	margin-bottom: 70px;
}

/* Page template */
.post-template-cover #primary {
	width: 100%;
}

.post-template-cover .hentry:not(.has-post-thumbnail) .entry-header {
	min-height: 500px;
}

.post-template-cover .entry-thumbnail--template {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 100%;
	min-height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.post-template-cover .entry-thumbnail--template::before, .post-template-cover .entry-thumbnail--template::after {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	display: block;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	content: "";
	z-index: 9;
	position: absolute;
}

.post-template-cover .entry-thumbnail--template::after {
	bottom: auto;
	top: 0;
}

.post-template-cover .entry-thumbnail--template .entry-info {
	z-index: 999;
	text-align: center;
	margin: 0 auto;
}

.post-template-cover .entry-thumbnail--template .entry-info .tg-top-cat {
	margin-bottom: 10px;
}

.post-template-cover .entry-thumbnail--template .entry-info .tg-top-cat .cat-links a {
	color: #fff;
	background-color: #16181a;
	padding: 10px;
	text-transform: uppercase;
	margin: 0 5px;
}

.post-template-cover .entry-thumbnail--template .entry-info .tg-top-cat .cat-links a:hover {
	background-color: #3298dc;
}

.post-template-cover .entry-thumbnail--template .entry-info .tg-top-cat .cat-links .cat-seperator {
	display: none;
}

.post-template-cover .entry-thumbnail--template .entry-info .entry-title {
	color: #fff;
	font-size: 2.5rem;
}

.post-template-cover .entry-thumbnail--template .entry-info .entry-meta {
	margin-bottom: 0;
	font-size: 14px;
}

.post-template-cover .entry-thumbnail--template .entry-info .entry-meta a {
	color: #fff;
}

.post-template-cover .entry-thumbnail--template .entry-info .entry-meta .posted-on::before {
	background-color: #fff;
}

.post-template-cover .entry-header--cover {
	position: relative;
	text-align: center;
	background-color: #868e96;
	margin-bottom: 60px;
}

.post-template-cover .entry-header--cover .entry-thumbnail {
	padding-bottom: 80px;
}

.post-template-cover .entry-center-content {
	width: calc(100% - 200px);
	margin: 0 auto;
}

.post-template-cover .tg-author-box {
	margin-bottom: 80px;
}

.post-template-cover .hentry {
	margin-bottom: 0;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-bottom: 60px;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem 1rem 0 1rem;
}

.comment-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-previous,
.posts-navigation .nav-next,
.post-navigation .nav-previous,
.post-navigation .nav-next {
	width: 50%;
	-webkit-transition: -webkit-transform 0.45s cubic-bezier(0.79, 1, 0.92, 1);
	transition: -webkit-transform 0.45s cubic-bezier(0.79, 1, 0.92, 1);
	transition: transform 0.45s cubic-bezier(0.79, 1, 0.92, 1);
	transition: transform 0.45s cubic-bezier(0.79, 1, 0.92, 1), -webkit-transform 0.45s cubic-bezier(0.79, 1, 0.92, 1);
}

.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a,
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
	display: block;
	font-size: 1.313rem;
	font-weight: 500;
	color: #333;
}

.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
	color: #333;
	text-decoration: none;
}

.comment-navigation .nav-previous .nav-links__label,
.comment-navigation .nav-next .nav-links__label,
.posts-navigation .nav-previous .nav-links__label,
.posts-navigation .nav-next .nav-links__label,
.post-navigation .nav-previous .nav-links__label,
.post-navigation .nav-next .nav-links__label {
	display: block;
	height: 1.25rem;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.55, 1, 0.22, 1);
	transition: -webkit-transform 0.35s cubic-bezier(0.55, 1, 0.22, 1);
	transition: transform 0.35s cubic-bezier(0.55, 1, 0.22, 1);
	transition: transform 0.35s cubic-bezier(0.55, 1, 0.22, 1), -webkit-transform 0.35s cubic-bezier(0.55, 1, 0.22, 1);
	margin-bottom: 5px;
}

.comment-navigation .nav-previous .nav-links__label::before, .comment-navigation .nav-previous .nav-links__label::after,
.comment-navigation .nav-next .nav-links__label::before,
.comment-navigation .nav-next .nav-links__label::after,
.posts-navigation .nav-previous .nav-links__label::before,
.posts-navigation .nav-previous .nav-links__label::after,
.posts-navigation .nav-next .nav-links__label::before,
.posts-navigation .nav-next .nav-links__label::after,
.post-navigation .nav-previous .nav-links__label::before,
.post-navigation .nav-previous .nav-links__label::after,
.post-navigation .nav-next .nav-links__label::before,
.post-navigation .nav-next .nav-links__label::after {
	content: "";
	font-family: themegrill-icons;
	display: inline-block;
	font-size: 8px;
	-webkit-transition: font-size 0.35s cubic-bezier(0.55, 1, 0.22, 1);
	transition: font-size 0.35s cubic-bezier(0.55, 1, 0.22, 1);
}

.comment-navigation .nav-previous:hover .nav-links__label::before, .comment-navigation .nav-previous:hover .nav-links__label::after,
.comment-navigation .nav-next:hover .nav-links__label::before,
.comment-navigation .nav-next:hover .nav-links__label::after,
.posts-navigation .nav-previous:hover .nav-links__label::before,
.posts-navigation .nav-previous:hover .nav-links__label::after,
.posts-navigation .nav-next:hover .nav-links__label::before,
.posts-navigation .nav-next:hover .nav-links__label::after,
.post-navigation .nav-previous:hover .nav-links__label::before,
.post-navigation .nav-previous:hover .nav-links__label::after,
.post-navigation .nav-next:hover .nav-links__label::before,
.post-navigation .nav-next:hover .nav-links__label::after {
	font-size: 0;
}

.comment-navigation .nav-previous .nav-links__label::before,
.posts-navigation .nav-previous .nav-links__label::before,
.post-navigation .nav-previous .nav-links__label::before {
	content: "\f060" /*rtl:"\f103"*/;
	font-family: "Font Awesome 5 free";
	font-weight: 900;
	margin-right: 10px;
}

.comment-navigation .nav-previous:hover,
.posts-navigation .nav-previous:hover,
.post-navigation .nav-previous:hover {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}

.comment-navigation .nav-previous:hover .nav-links__label,
.posts-navigation .nav-previous:hover .nav-links__label,
.post-navigation .nav-previous:hover .nav-links__label {
	-webkit-transform: translateX(-1.25rem);
	transform: translateX(-1.25rem);
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: right;
	margin-left: auto;
}

.comment-navigation .nav-next .nav-links__label::after,
.posts-navigation .nav-next .nav-links__label::after,
.post-navigation .nav-next .nav-links__label::after {
	content: "\f061" /*rtl:"\f102"*/;
	font-family: "Font Awesome 5 free";
	font-weight: 900;
	margin-left: 10px;
}

.comment-navigation .nav-next:hover,
.posts-navigation .nav-next:hover,
.post-navigation .nav-next:hover {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.comment-navigation .nav-next:hover .nav-links__label,
.posts-navigation .nav-next:hover .nav-links__label,
.post-navigation .nav-next:hover .nav-links__label {
	-webkit-transform: translateX(1.25rem);
	transform: translateX(1.25rem);
}

@media screen and (max-width: 991.98px) {
	.comment-navigation .nav-next a,
	.comment-navigation .nav-previous a,
	.posts-navigation .nav-next a,
	.posts-navigation .nav-previous a,
	.post-navigation .nav-next a,
	.post-navigation .nav-previous a {
		font-size: 14px;
	}
	.comment-navigation .nav-next .nav-links__label,
	.comment-navigation .nav-previous .nav-links__label,
	.posts-navigation .nav-next .nav-links__label,
	.posts-navigation .nav-previous .nav-links__label,
	.post-navigation .nav-next .nav-links__label,
	.post-navigation .nav-previous .nav-links__label {
		font-size: 11px;
	}
	.comments-area .comment-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.comments-area .comment-form .comment-form-author,
	.comments-area .comment-form .comment-form-email {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	.comments-title,
	.comment-reply-title {
		line-height: 1.3;
	}
}

/* Navigation */
#navbar {
	z-index: 3;
	width: 100%;
}

#navbar ul {
	line-height: 2;
	position: relative;
}

#navbar ul li {
	display: inline-block;
}

#navbar ul li a {
	display: block;
	margin: 0;
	padding: 0 1rem;
	color: #333;
	font-weight: 500;
	font-size: 1rem;
}

#navbar ul li a:last-child {
	padding: 0 0 0 1rem;
}

#navbar ul li.current_page_item a {
	color: #007bff;
}

/* Active link */
#navbar ul li a:hover {
	color: #007bff;
}










/**
 * 3.0 Basic Structure MBIOFARMERS
 * ----------------------------------------------------------------------------
 */


 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
   }
   html {
	 font-size: 1rem;
	 overflow-x: hidden !important;
	}
   body {
	 font-family: 'Inter Tight', sans-serif;
	 font-size: 1rem;
	 overflow-x: hidden !important;
   }
   img {
	 max-width: 100%;
	 height: auto;
   }
   a {
	 text-decoration: none !important;
   }
   h2 {
	 font-size: 2.5rem !important;
   }
   
	 /**********************************************
						 Header
	 **********************************************/
	 #header {
	   position: relative;
	   display: block;
	   width: 100%;
	   transition: all 500ms ease;
	   z-index: 99;
	 }
	 #header .header-wrapper-inner {
	   position: relative;
	   display: flex;
	   align-items: center;
	   justify-content: space-between;
	   flex-wrap: wrap;
	 }
	 #header .logo img{ 
	   max-width: 100%;
	   width: 100px;
	   max-height: 100%;
	   border-radius: 50%;
	 }
 
	 #header .main-menu-box { 
	   display: block;
	   padding: 1rem 0 0.4rem;
	 }
 
	 #header .menu-box-top {
	   position: relative;
	   display: flex;
	   align-items: center;
	   justify-content: space-between;
	   flex-wrap: wrap;
	   max-width: 800px;
	   background-color: #0B9444;
	   color: #fff;
	   padding: 0rem 3rem 1rem;
	   border-radius: 20px;
	 }
 
	 #header .contact-list {
	   position: relative;
	   display: flex;
	   align-items: center;
	   list-style: none;
	   margin-bottom: 0 !important;
	   padding-left: 0 !important;
	 }
	 #header .contact-list li {
	   position: relative;
	   display: flex;
	   align-items: center;
	 }
	 #header .contact-list li+li {
	   margin-left: 1rem;
	 }
	 #header .social-icons {
	   position: relative;
	   display: flex;
	   align-items: center;
	   margin-top: 1rem;
	 }
	 #header .social-icons a{
	   position: relative;
	   display: flex;
	   align-items: center;
	   font-size: 1rem;
	   color: #fff;
	   margin: 0 0 0 1.5rem;
	 }
	 #header .menu-box-bottom .navbar .navbar-nav li {
	   padding: 0.5rem;
	   margin: 0 1rem;
	 }
	 #header .menu-box-bottom .navbar .navbar-nav li a {
	   color: #3C3C3C !important;
	 }
 
   /**********************************************
				 Menu Sticky
   **********************************************/
   .main-menu {
	 display: block;
   }
   .sticky-header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 background-color: #fff;
	 width: 100%;
	 visibility: hidden;
	 transform: translateY(-120%);
	 transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
	 box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
	 z-index: 991;
   }
   .sticky-header.sticky-fixed {
	 transform: translateY(0);
	 visibility: visible;
   }
   .sticky-header .navbar-brand img {
	 max-width: 100%;
	 width: 80px;
	 max-height: 100%;
	 border-radius: 50%;
   }
   .sticky-header .navbar-nav a {
	 margin: 1rem;
	 color: #3C3C3C;
   }
   .sticky-header .navbar-nav a:hover {
	 color: #0B9444;
   }
 

 
	 /**********************************************
						 Slider
	 **********************************************/
	 #slide {
	   position: relative;
	   display: block;
	   justify-content: center;
	   align-items: center;
	   width: 100%;
	 }
	 #slide .carousel-inner .slide-action {
	   position: absolute;
	   display: block;
	   text-align: center;
	   color: #fff;
	   z-index: 1;
	   top: 25%;
	   transform: translateX(75%);
	 }
	 #slide .carousel-inner .slide-action p{
	   position: relative;
	   display: inline-block;
	 }
	 #slide .carousel-inner .slide-action p::before {
	   position: absolute;
	   content: "";
	   left: 0;
	   right: 0;
	   bottom: -20px;
	   height: 20px;
	   background-image: url(images/main-slider-shape-1.png);
	   background-repeat: no-repeat;
	   background-position: center;
	   background-size: cover;
	   z-index: -1;
	 }
	 #slide .carousel-inner .slide-action h1 {
	   font-weight: 600;
	   font-size: 3rem;
	   margin-top: 1rem;
	   margin-bottom: 2rem;
	 }
	 #slide .carousel-inner .slide-action .btn-box{
	   background-color: #0B9444;
	   color: #fff;
	   padding: 1rem 2rem;
	   border: 0;
	   border-radius: 40px;
	 }
	 #slide .carousel-inner .slide-action .btn-box i {
	   background-color: #E8D52C;
	   padding: 0.6rem;
	   margin-right: -1.5rem;
	   margin-left: 1.5rem;
	   border-radius: 50%;
	 }
	 #slide .carousel-indicators {
	   position: absolute !important;
	   flex-direction: column-reverse !important;
	   top: 0 !important;
	   left: 80% !important;
	   right: 0 !important;
	   bottom: 0 !important;
	   margin-left: 15% !important;
	   z-index: 100;
	 }
	 #slide .carousel-indicators button {
	   width: 8px !important;
	   height: 8px !important;
	   border-radius: 50% !important;
	 }
	 #slide .carousel-indicators button.active {
	   height: 15px !important;
	   border-radius: 35% !important;
	 }
	 #slide .feature-one {
	   position: relative;
	   display: block;
	   margin-top: 340px;
	   z-index: 90;
	 }
	 #slide .feature-one-single {
	   position: relative;
	   display: flex;
	   align-items: center;
	   padding: 2rem 0 2rem;
	   box-shadow: 0px -1px 0px 0px rgb(255 255 255 / 80%)
	 }
	 #slide .feature-one-single img{
	   max-width: 100%;
	   width: 90px;
	   max-height: 100%;
	 }
	 #slide .feature-one-single .feature-content {
	   color: #fff;
	   margin-left: 2rem;
	 }
	 #slide .feature-one-single .feature-content span {
	   font-weight: 400;
	   color: #fff;
	 }
 
	 /**********************************************
						 Bio
	 **********************************************/
	 #bio {
	   background: url('images/section-bg01.png');
	   background-position: center top;
	   background-size: cover;
	   background-repeat: no-repeat;
	 }
	 #bio h2 {
	   font-weight: 700;
	   font-size: 1.5rem;
	   color: #0B9444;
	   margin-bottom: 1.3rem;
	 }
	 #bio span {
	   font-weight: 600;
	   font-size: 1.2rem;
	   color: #000;
	 }
	 #bio p {
	   font-weight: 300;
	   color: #3C3C3C;
	   line-height: 25px;
	   margin-top: 1.3rem;
	   margin-bottom: 2rem;
	 }
	 #bio .btn-box{
	   background-color: #0B9444;
	   color: #fff;
	   padding: 1rem 2rem;
	   border: 0;
	   border-radius: 40px;
	 }
	 #bio .btn-box i {
	   background-color: #E8D52C;
	   padding: 0.6rem;
	   margin-right: -1.5rem;
	   margin-left: 1.5rem;
	   border-radius: 50%;
	 }
	 #bio .side-slider {
	   position: relative;
	   display: flex;
	   flex-wrap: wrap;
	   width: 100%;
	 }
	 #bio .side-slider .carousel-inner img {
	   border-radius: 10px;
	 }
	 #bio .side-slider .note-box {
	   position: absolute;
	   display: flex;
	   flex-wrap: wrap;
	   width: 170px;
	   left: -60px;
	   bottom: 100px;
	   padding: 1.25rem 2rem;
	   line-height: 1.2;
	   background-color: #fff;
	   color: #0B9444;
	   z-index: 1;
	   border-radius: 4px;
	   box-shadow: 0 0 20px rgb(0 0 0 / 5%);
	 }
 
	 #bio .side-slider .note-box::after {
	   position: absolute;
	   content: "";
	   width: 0;
	   height: 0;
	   bottom: -20px;
	   right: 30px;
	   border-style: solid;
	   border-color: transparent #fff transparent transparent;
	   border-width: 0 15px 20px 0;
	 }
 
	 #bio .side-slider .note-box h4 {
	   font-weight: 700;
	 }
	 #bio .carousel-indicators button.active {
	   background-color: #E8D52C;
	   width: 15px;
	   border-radius: 7%;
	 }
 
	  /**********************************************
					   Advanges
	 **********************************************/
	 #advanges {
	   position: relative;
	   display: block;
	   z-index: 1;
	 }
	 #advanges::before {
	   position: absolute;
	   content: "";
	   top: 0;
	   left: 0;
	   right: 0;
	   height: 567px;
	   background-color: #e0e0e0;
	   z-index: -1;
	 }
	 #advanges .advange-bg {
	   background: url(images/services-one-shape-1.png) top center no-repeat ;
	   background-size: cover;
	   top: 170px;
	   right: 0;
	   left: 0;
	   height: 398px;
	   opacity: .50;
	   z-index: -1;
	 }
	 #advanges .title {
	   position: relative;
	 }
	 #advanges .title span {
	   font-weight: 300;
	   color: #0B9444;
	   font-style: italic;
	 }
	 #advanges .title h2 {
	   margin-top: 1.5rem;
	   margin-bottom: 2.5rem;
	 }
	 #advanges .advange-single {
	   position: relative;
	   display: block;
	   background-color: #fff;
	   padding: 3rem 2.5rem 2.2rem;
	   border-radius: 7px;
	   box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
	 }
	 #advanges .advange-single .img-box {
	   margin: 0 auto;
	   max-width: 196px;
	   width: 100%;
	 }
	 #advanges .advange-single .img-box img {
	   border-radius: 50%;
	 }
	 #advanges .advange-single .img-box .icon-box {
	   position: absolute;
	   display: inline-block;
	   bottom: 210px;
	   left: 50%;
	   transform: translateX(-50%);
	   
	 }
	 #advanges .advange-single .img-box .icon-box img {
	   position: relative;
	   display: flex;
	   align-items: center;
	   justify-content: center;
	   width: 70px;
	   height: 70px;
	   border-radius: 50%;
	   background-color: #0B9444;
	 }
	 #advanges .advange-single .content-box {
	   position: relative;
	   display: block;
	   text-align: center;
	   margin-top: 3rem;
	 }
	 #advanges .advange-single .content-box p {
	   font-weight: 300;
	   color: #3C3C3C;
	 }
 
	 /**********************************************
					 Made In Benin
	 **********************************************/
	 #made-benin .title h2 {
	   font-weight: 600;
	   color: #3C3C3C;
	   margin-bottom: 2rem;
	 }
	 #made-benin .title h2 > span {
	   color: #0B9444;
	 }
	 #made-benin .ship-product {
	   position: relative;
	   display: block;
	   background-color: #0B9444;
	   padding:  2.5rem 0rem 4rem;
	   color: #fff;
	   border-radius: 12px;
	 }
	 #made-benin .share-product {
	   position: relative;
	   display: block;
	   top: 9rem;
	 }
	 #made-benin .feature {
	   margin-bottom: 2rem;
	 }
	 #made-benin .feature .item-feature {
	   font-weight: 600;
	 }
	 #made-benin .feature .item-feature img {
	   max-width: 100%;
	   width: 50px;
	   max-height: 100%;
	 }
	 #made-benin .feature .item-feature span {
	   margin-left: 1rem;
	 }
	 #made-benin .feature p {
	   font-weight: 300;
	   color: #3C3C3C;
	 }
	 #made-benin .right {
	   text-align: right;
	 }
	 #made-benin .right .feature .item-feature span {
	   margin-right: 1rem;
	 }
 
	 /**********************************************
					 Banner
	 **********************************************/
	#banner {
	 position: relative;
	 display: block;
	 background: url(images/services-one-1.jpeg) center center no-repeat;
	 background-size: cover;
	 background-attachment: fixed;
	}
	#banner .banner-content {
	 position: relative;
	 display: block;
	 max-width: 850px;
	 margin: 0 auto;
	 z-index: 1;
	}
	#banner .banner-content .shape-one {
	 position: absolute;
	 top: 50px;
	 left: 0;
	 z-index: -1;
	}
	#banner .banner-content .shape-two {
	 position: absolute;
	 top: 50px;
	 right: 0;
	 z-index: -1;
	}
	#banner .banner-content h3 {
	 font-weight: 600;
	 font-size: 2.5rem;
	 line-height: 60px;
	 text-align: center;
	 color: #fff;
	}
	#banner .banner-content .btn-box {
	 background-color: #0B9444;
	 color: #fff;
	 padding: 1rem 2rem;
	 margin-top: 3rem;
	 border: 0;
	 border-radius: 40px;
	}
	#banner .banner-content .btn-box i {
	 background-color: #E8D52C;
	 padding: 0.6rem;
	 margin-right: -1.5rem;
	 margin-left: 1.5rem;
	 border-radius: 50%;
   }
 
   /**********************************************
					 Recent Posts
   **********************************************/
   #recent-post .title h2 {
	 font-weight: 600;
	 font-size: 2.5rem;
	 color: #3C3C3C;
	 margin-bottom: 1rem;
   }
 
   #recent-post .title span {
	 font-weight: 300;
	 color: #3C3C3C;
   }
 
   #recent-post .blog-one {
	 position: relative;
	 display: block;
	 margin-top: 1.5rem;
   }
   #recent-post .blog-one .blog-one-img {
	 position: relative;
	 display: block;
	 overflow: hidden;
	 border-top-left-radius: 15px;
	 border-top-right-radius: 15px;
	 z-index: 1;
   }
   #recent-post .blog-one .blog-one-img .blog-date {
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 background-color: #0B9444;
	 color: #fff;
	 padding: 11px 20px 0px;
	 border-top-left-radius: 15px;
	 z-index: 2;
   }
   #recent-post .blog-one .blog-content {
	 position: relative;
	 display: block;
	 background-color: #f0f0f0;
	 border-bottom-left-radius: 15px;
	 border-bottom-right-radius: 15px;
	 padding: 1.4rem 2.5rem 2rem;
   }
   #recent-post .blog-one .blog-content span {
	 font-weight: 200;
	 font-size: 1rem;
	 color: #2c2f33;
   }
   #recent-post .blog-one .blog-content a {
	 font-weight: 600;
	 font-size: 1.2rem;
	 color: #3C3C3C;
	 margin-top: 1rem;
   }
 
   /**********************************************
				   About Page
   **********************************************/
   #slide-about {
	 background: url(images/timeline-image.jpg) center center no-repeat;
	 background-size: cover;
	 width: 100%;
	 min-height: 50vh;
	 background-attachment: fixed;
	 color: #fff;
   }
   #slide-about h1 {
	 font-weight: 600;
	 font-size: 3rem;
   }
   #slide-about p::before {
	 position: absolute;
	 content: "";
	 left: 0;
	 right: 0;
	 bottom: -20px;
	 height: 20px; 
	 background: url(images/main-slider-shape-1.png) center center no-repeat;
	 background-size: contain;
	 z-index: 100;
   }
   #slide-about .overlay {
	 background-image: linear-gradient(90deg,rgba(0,0,0,.5) 30%,transparent);
	 min-height: 50vh;
   }
   #about h2 {
	 font-weight: 600;
	 font-size: 2.5rem;
	 color: #0B9444;
	 margin-bottom: 1.5rem;
   }
   #about p {
	 font-weight: 300;
	 color: #3C3C3C;
   }
   #about .img-abt {
	 position: relative;
	 max-width: 100%;
	 width: 350px;
	 max-height: 100%;
	 float: right !important;
   }
   #about .img-abt img {
	 border-radius: 15px;
   }
   #about .img-abt .tox-img {
	 position: absolute;
	 max-width: 231px;
	 right: 12rem;
	 top: 7rem;
   }
   #count {
	 position: relative;
	 background-image: url(images/bg-3.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center right;
   }
   #count h2 {
	 font-weight: 600;
	 color: #3C3C3C;
	 margin-bottom: 3rem;
	 text-align: center;
   }
   #count h4 {
	 font-weight: 600;
	 font-size: 3rem;
	 color: #0B9444;
   }
   #count span {
	 font-weight: 600;
   }
 
 
 
   /**********************************************
				   Market Place Page
   **********************************************/
 
   #slide-market {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: url(images/market-place.jpg) center center no-repeat; 
	 background-size: cover;
	 background-attachment: fixed;
	 min-height: 50vh;
	 color: #fff;
   }
   #slide-market h1 {
	 font-weight: 600;
	 font-size: 3rem;
   }
   #slide-market p::before {
	 position: absolute;
	 content: "";
	 left: 0;
	 right: 0;
	 bottom: -20px;
	 height: 20px;
	 background: url(images/main-slider-shape-1.png) center center no-repeat;
	 background-size: contain;
	 z-index: 100;
   }
   #cta {
	 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   }
   #cta .item-img {
	 position: relative;
	 display: inline-block;
   }
   #cta img {
	 width: 80px;
   }
   #cta .detail {
	 margin-left: 1rem;
   }
   #cta .detail h4{
	 font-weight: 600;
	 font-size: 1.2rem;
	 color: #3C3C3C;
   }
 
   #products .product__all-single {
	 position: relative;
	 display: block;
	 margin-bottom: 21px;
   }
   #products .product__all-img-box {
	 position: relative;
	 display: block;
   }
   #products .product__all-img {
	 position: relative;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 5rem 2rem;
	 border: 1px solid #ece9e0;
	 border-radius: 20px;
	 transition: all 500ms ease;
	 overflow: hidden;
   }
   #products .product__all-img img {
	 width: 100%;
	 transition: all 500ms ease;
   }
   #products .product__all-sale {
	 position: absolute;
	 top: 10px;
	 right: 10px;
	 width: 156px;
	 height: 20px;
	 font-size: 10px;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 0.1em;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
	 background-color: #0B9444;
	 border-radius: 10px;
   }
   #products .product__all-img-icon {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transform: rotate(45deg) scale(0);
	 transition: all 500ms ease;
	 z-index: 2;
   }
   #products .product__all-img-icon a {
	 position: relative;
	 height: 70px;
	 width: 70px;
	 font-size: 23px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
	 background-color: #0B9444;
	 border-radius: 50%;
	 transition: all 500ms ease;
	 opacity: 0.8;
   }
   #products .product__all-single:hover .product__all-img-box {
	 background-color: rgb(255, 255, 255);
	 box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
   }
   #products .product__all-single:hover .product__all-img img {
	 transform: scale(1.05);
   }
   #products .product__all-single:hover .product__all-img-icon {
	 transform: rotate(0deg) scale(1);
	 transition-delay: 200ms;
   }
   #products .product__all-single h4{
	 font-weight: 600;
	 font-size: 1.4rem;
	 margin-top: 1rem;
	 text-align: center;
   }
   #products .product__all-single h4 a {
	 color: #3C3C3C;
   }
  
 
 
   /**********************************************
			   Single Product Page
   **********************************************/
 
   #single-product, #slide-post {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 /* background: url(images/single-product.jpg) center center no-repeat; */
	 background-size: cover;
	 width: 100%;
	 height: 50vh;
	 color: #fff;
	 background-attachment: fixed;
   }
   #single-product h1 {
	 font-weight: 600;
	 font-size: 3rem;
   }
   #single-product p {
	 background-color: #E8D52C;
	 color: #fff;
	 padding: 0.4rem 1rem;
	 border-radius: 20px;
   }
   #single-product .overlay {
	 background-image: linear-gradient(90deg,rgba(0,0,0,.7490196078) 40%,transparent);
	 height: 50vh;
	 z-index: 2;
	 width: 100%;
   }
 
   #product-details img {
	 width: 100%;
	 border: 1px solid #ece9e0;
	 border-radius: 20px;  
   }
   #product-details .product-details__title {
	 font-weight: 600;
	 color: #3C3C3C;
	 margin-bottom: 2rem;
   }
   #product-details .line {
	 border: 1px solid #d7d4d4;
	 margin-bottom: 2rem;
   }
   #product-details .product-details__reveiw i {
	 color: #E8D52C;
	 margin-right: 0.7rem;
   }
   #product-details p {
	 font-weight: 300;
	 color: #3C3C3C;
	 line-height: 25px;
	 margin-top: 2rem;
   }
   #product-details .statut h4 {
	 font-size: 1rem;
	 color: #3C3C3C;
   }
   #product-details .statut .state i {
	 font-size: 2rem !important;
	 color: #0B9444 !important;
   }
   #formular .btn-outline-secondary {
	 background-color: #0B9444;
	 color: #fff;
   }
   
 
   /**********************************************
				   Services Page
   **********************************************/
 
   #slide-service {
	 background: url(images/slide-service.jpeg) center center no-repeat;
	 background-position: center;
	 background-size: cover;
	 background-attachment: fixed;
	 min-height: 50vh;
	 color: #fff;
   }
   #slide-service h1 {
	 font-weight: 600;
	 font-size: 3rem;
   }
   #slide-service p::before {
	 position: absolute;
	 content: "";
	 left: 0;
	 right: 0;
	 bottom: -20px;
	 height: 20px;
	 background: url(images/main-slider-shape-1.png) center center no-repeat;
	 background-size: contain;
	 z-index: 100;
   }
   #slide-service .overlay {
	 background-image: linear-gradient(90deg,rgba(0,0,0,.5) 100%,transparent);
	 height: 50vh;
   }
   #details p {
	 font-weight: 300;
	 color: #3C3C3C;
	 line-height: 30px;
	 margin: 0 auto;
   }
   #faq {
	 background-image: url(images/faq-page-shape-1.png);
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin-top: 3rem;
   }
   #faq h2 {
	 font-weight: 600;
	 color: #3C3C3C;
	 margin-bottom: 3rem;
   }
   #faq .faq-one-accrodion .accrodion {
	 position: relative;
	 display: block;
	 margin-bottom: 1.5rem;
	 transition: all 500ms ease;
	 background-color: #fff;
	 border: 1px solid #ece9e0;
	 border-radius: 15px;
   }
   #faq .faq-one-accrodion .accrodion::before {
	 position: absolute;
	 top: -1px;
	 left: -1px;
	 bottom: -1px;
	 width: 10px;
	 content: "";
	 background-color: #0B9444;
	 transition: all 500ms ease;
	 z-index: 1;
	 border-bottom-left-radius: 15px;
	 border-top-left-radius: 15px;
	 visibility: hidden;
   }
   #faq .faq-one-accrodion .accrodion.active {
	 border: 1px solid #ece9e0;
	 border-radius: 15px;
	 margin-bottom: 1.5rem;
	 box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 3%);
   }
   #faq .faq-one-accrodion .accrodion.active::before {
	 transform: scaleY(1);
	 visibility: visible;
   }
   #faq .faq-one-accrodion .accrodion-title {
	 position: relative;
	 display: block;
	 cursor: pointer;
	 padding: 1.5rem 2.5rem 1.7rem;
	 padding-right: 1.6rem;
	 transition: all 200ms linear;
	 transition-delay: 0.1s;
   }
   #faq .faq-one-accrodion .accrodion-title h4 {
	 position: relative;
	 font-size: 1.2rem;
	 font-weight: 600;
	 line-height: 28px;
	 margin: 0;
	 transition: all 500ms ease;
   }
   #faq .faq-one-accrodion .accrodion-title h4::before {
	 position: absolute;
	 content: "\f4f9" !important;
	 font-family: 'bootstrap-icons' !important;
	 top: 50%;
	 right: 6px;
	 color: #0B9444;
	 transform: translateY(-50%);
	 transition: all 500ms ease;
   }
   #faq .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
	 position: absolute;
	 content: "\f622" !important;
	 font-family: 'bootstrap-icons' !important;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 top: 50%;
   }
   #faq .faq-one-accrodion .accrodion-content {
	 position: relative;
	 padding: 0px 40px 30px;
	 display: none;
   }
   #faq .faq-one-accrodion .accrodion-content p {
	 margin: 0;
	 line-height: 32px;
   }
   
   
   /**********************************************
				   Contact Page
   **********************************************/
   #infoline {padding-bottom: 0px !important;}
   #infoline .contact-item {
	 position: relative;
	 display: flex;
	 align-items: center;
   }
   #infoline .item-img {
	 position: relative;
	 display: inline-block;
   }
   #infoline .item-img img {
	 max-width: 100%;
	 width: 50px;
	 max-height: 100%;
   }
   #infoline .detail {
	 margin-left: 1rem;
   }
   #infoline .detail h4{
	 font-weight: 600;
	 font-size: 1.5rem;
	 color: #3C3C3C;
   }
   #infoline .detail a {
	 color: #3C3C3C;
   }
   #infoline .detail a:hover {
	 color: #0B9444;
   }
   #infoline .line {
	 width: 100%;
	 height: 1px;
	 background-color: #8c8c8c;
	 margin-top: 3rem;
   }
   #formular {
	 background-image: url(images/bg-3.jpg);
	 background-position: center right;
	 background-size: cover;
	 background-repeat: no-repeat;
   }
   #formular .title {
	 position: relative;
	 text-align: center;
   }
   #formular .title::after {
	 position: absolute;
	 content: "";
	 width: 100px;
	 height: 4px;
	 top: 4rem;
	 background: #0B9444;
   }
   #formular label {
	 font-weight: 500;
	 color: #3C3C3C;
   }
   #formular .form-control,
   #formular .form-select {
	 border-radius: 20px;
   }
   #formular .form-select,
   #formular .wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
	 border-radius: 20px;
	 padding: 15px !important;
   }
   #formular .form-control:focus,
   #formular .form-select:focus {
	 outline: 0;
	 box-shadow: none;
   }
   #formular .btn-send {
	 font-weight: 600;
	 background-color: #0B9444;
	 color: #fff;
	 width: 150px;
	 height: 45px;
	 line-height: 30px;
	 margin-top: 2rem;
	 border-radius: 20px;
   }
 
 
   /**********************************************
					 Blog Page
   **********************************************/
 
   #slide-blog {
	 background: url(images/Slide-blog.jpeg) center center no-repeat;
	 background-size: cover;
	 background-attachment: fixed;
	 width: 100%;
	 height: 50vh;
	 color: #fff;
   }
   #slide-blog .overlay {
	 background-image: linear-gradient(90deg,rgba(0,0,0,.5) 100%,transparent);
	 height: 50vh;
	 width: 100%;
	 z-index: 2;
   }
   #slide-blog h1 {
	 font-weight: 600;
	 font-size: 3rem;
   }
   #posts h2 {
	 font-weight: 600;
	 color: #3C3C3C;
	 text-transform: uppercase;
   }
   #posts span {
	 font-weight: 300;
   }
   #posts .blog-one {
	 position: relative;
	 display: block;
	 margin-top: 1.5rem;
   }
   #posts .blog-one .blog-one-img {
	 position: relative;
	 display: block;
	 overflow: hidden;
	 border-top-left-radius: 15px;
	 border-top-right-radius: 15px;
	 z-index: 1;
   }
   #posts .blog-one .blog-one-img .blog-date {
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 background-color: #0B9444;
	 color: #fff;
	 padding: 11px 20px 0px;
	 border-top-left-radius: 15px;
	 z-index: 2;
   }
   #posts .blog-one .blog-content {
	 position: relative;
	 display: block;
	 background-color: #f0f0f0;
	 border-bottom-left-radius: 15px;
	 border-bottom-right-radius: 15px;
	 padding: 1.4rem 2.5rem 2rem;
   }
   #rposts .blog-one .blog-content span {
	 font-weight: 500;
	 font-size: 1rem;
	 color: #2c2f33;
   }
   #posts .blog-one .blog-content a {
	 font-weight: 600;
	 font-size: 1.2rem;
	 color: #3C3C3C;
	 margin-top: 1rem;
   }
   #posts .paginate ul {
	 list-style: none;
	 padding-top: 3rem;
	 margin: 0;
   }
   #posts .paginate ul li {
	 display: inline;
   }
   #posts .paginate ul li a {
	 font-weight: 500;
	 color: #3C3C3C;
	 margin-right: 2rem;
   }
 
 
 /**********************************************
			   Single Post Page
 **********************************************/
 
 #slide-post {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(images/main-slide-3.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 500px;
   color: #fff;
 }
 #slide-post h1 {
   font-weight: 600;
   font-size: 3rem;
 }
 #detail-post p {
   font-weight: 300;
   line-height: 25px;
   margin-top: 2rem;
 }
 #detail-post h3 {
   color: #3C3C3C;
   margin-top: 2rem;
 }
 #detail-post .social ul {
   list-style: none;
   padding: 0;
   margin: 0;
   float: right;
 }
 #detail-post .social ul li {
   display: inline-block;
   margin-right: 1rem;
 }
 #detail-post .social ul li a {
   font-size: 1.5rem;
   color: #0B9444;
 }
 
 
 
 
 
 /**********************************************
				   Charity Page
 **********************************************/
 
   #slide-charity {
	 position: relative;
	 display: block;
	 justify-content: center;
	 align-items: center;
	 background-image: url(images/charity.png);
	 background-position: center;
	 background-size: cover;
	 background-repeat: no-repeat;
	 width: 100%;
	 height: 500px;
	 color: #fff;
   }
   #slide-charity h1 {
	 position: relative;
	 display: flex;
	 z-index: 100;
	 justify-content: center;
	 align-items: center;
	 top: -300px;
	 font-weight: 600;
	 font-size: 3rem;
   }
   #slide-charity p {
	 position: relative;
	 display: inline-block;
	 justify-content: center;
	 align-items: center;
	 top: -310px;
   }
   #slide-charity p::before {
	 position: absolute;
	 content: "";
	 left: 0;
	 right: 0;
	 bottom: -20px;
	 height: 20px;
	 background-image: url(images/main-slider-shape-1.png);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 z-index: 100;
   }
   #slide-charity .overlay {
	 background-image: linear-gradient(90deg,rgba(0,0,0,.7490196078) 20%,transparent);
	 height: 500px;
	 z-index: 2;
	 opacity: 0.4;
   }
 
 
 
   /**********************************************
				   Footer Site
   **********************************************/
   #site-footer {
	 position: relative;
	 display: block;
	 background-color: #089a45;
	 z-index: 1;
	 opacity: 89%;
	 padding-bottom: 0 !important;
   }
   #site-footer .footer-inner {
	 position: relative;
	 display: block;
   }
   #site-footer .footer-inner .footer-shape {
	 position: absolute;
	 background-image: url(images/about-one-shape-1.png);
	 left: 0;
	 right: 0;
	 top: 40px;
	 bottom: 0;
	 height: 200px;
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 opacity: 0.07;
	 z-index: -1;
   }
   #site-footer .footer-top {
	 margin-bottom: 2rem;
   }
   #site-footer .footer-top .footer-inner img {
	 max-width: 100%;
	 width: 100px;
	 max-height: 100%;
	 border-radius: 50%;
   }
   #site-footer .footer-top .footer-inner p {
	 margin-top: 1rem;
	 color: #fff;
   }
   #site-footer .footer-top .footer-inner h3 {
	 font-weight: 600;
	 font-size: 1.4rem;
	 margin-bottom: 1.5rem;
	 color: #fff;
   }
   #site-footer .footer-top .footer-inner ul {
	 list-style: none;
	 padding: 0;
	 margin: 0;
   }
   #site-footer .footer-top .footer-inner ul li {
	 margin-bottom: 1rem;
   }
   #site-footer .footer-top .footer-inner ul li a {
	 color: #e0e0e0;
   }
   #site-footer .footer-top .footer-inner ul li a :hover {
	 color: #fff;
   }
   #site-footer .footer-top .footer-inner .infoline li {
	 color: #fff;
   }
   #site-footer .footer-top .footer-inner .infoline {
	 padding: 1.5rem 1rem;
	 border: 2px solid #E8D52C;
	 border-radius: 15px;
   }
   #site-footer .footer-bottom {
	 position: relative;
	 display: block;
	 z-index: 1;
   }
   #site-footer .footer-bottom .footer-inner {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #227143;
	 padding: 1.4rem 0 1.4rem;
	 padding-left: 120px;
	 border-top-left-radius: 15px;
	 text-align: center;
	 color: #fff;
	 z-index: 1;
   }
   #site-footer .footer-bottom .footer-inner::before {
	 position: absolute;
	 content: "";
	 bottom: 0;
	 right: -10000000px;
	 left: 100%;
	 top: 0;
	 background-color: #227143;
	 z-index: -1;
   }
   #site-footer .footer-bottom .footer-inner .bottom-scroll {
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
   }
   #site-footer .footer-bottom .footer-inner .bottom-scroll a {
	 position: absolute;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-size: 50px;
	 top: 0;
	 width: 80px;
	 height: 80px;
	 background-color: #0B9444 !important;
	 border-top-left-radius: 15px;
	 color: #e0e0e0;
	 z-index: 100;
   }









/**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */



